.button {
  @extend .minor-text;

  padding: gutter(2) gutter(3.2);
  position: relative;
  color: $light;
  border: gutter(0.2) solid transparent;
  cursor: pointer;
  transition: $transition;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: gutter(0.4);
  background-color: $special;

  &:hover {
    background-color: $special-dark;
    color: $light;
  }
}
