.page-content {
  max-width: gutter(100);
  margin: 0 auto;
  background-color: $light;

  .wp-block-columns {
    align-items: flex-start;
    position: relative;
  }

  .column-static {
    position: sticky;
    top: gutter(6);
  }

  h2 {
    @extend .subtitle;

    margin-bottom: gutter(3.2);
    color: $special-dark;
  }

  h3 {
    @extend .subtitle;
    @extend %special;

    margin-bottom: gutter(3.2);
    color: $special-dark;
  }

  p {
    @extend .text;

    margin-bottom: gutter(1.6);
  }

  li {
    @extend .text;

    line-height: gutter(1.6);
    margin-bottom: gutter(1.6);
  }

  ul {
    margin: 0 0 gutter(1.6);
  }
}
