.header {
  padding: gutter(4) 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z-index(header);

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__brand {
    margin: 0;
    padding: 0;
  }

  &__extras {
    display: grid;
    grid-template-columns: auto auto;
    gap: gutter(0.8);
  }

  &__nav {
    @extend %absolute;

    z-index: 10;
    left: unset;
    bottom: unset;
  }
}
