.hero {
  $root: &;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  &__wrapper {
    @extend %absolute;

    position: absolute;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__content {
    max-width: gutter(62);
    position: relative;
    z-index: 10;
    transform-origin: left top;
  }

  &__title {
    color: $special-dark;
    margin-bottom: gutter(1);
  }

  &__text {
    margin-bottom: gutter(3.2);
    font-weight: 700;
  }

  &__cell {
    @extend %overlay;

    @include mediaTo(sm) {
      &::after {
        display: none;
      }
    }
  }

  &__nav {
    @extend %absolute;

    top: unset;
    left: unset;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mediaTo(md) {
      display: none;
    }
  }

  &__btn {
    @extend .subtitle;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: gutter(3.2) gutter(3.2);
    margin-left: gutter(1);
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    color: $gray;
    transition: $transition ease-in;
    font-weight: 400;

    svg {
      margin-left: gutter(1);
      transition: $transition / 2 ease-in;
    }

    &:hover {
      background-color: $dark;
      color: $light;

      svg {
        filter: brightness(0) invert(1);
      }
    }

    &.-is-active {
      background-color: $special;
      color: $light;

      svg {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__items {
    &:first-child {
      #{$root}__btn {
        padding-left: gutter(6.4);
        clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }

  .flickity-slider {
    width: 100vw;
  }
}
